# Dependencias
node_modules/

# Variables de entorno con datos reales
.env
.env.local

# Archivos de compilación
dist/
dist-ssr/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.sw?

# Sistema operativo
.DS_Store
Thumbs.db

# Registros
*.log
npm-debug.log*